@import "tailwindcss";

@theme {
    /* Cores do seu portfólio */
    --color-primary: #60cd7f;
    --color-primary-hover: #83f3a3;
    --color-secondary: #452280;
    --color-secondary-hover: #5d33a3;
    --color-dark: #3e4144;

    /* Fontes */
    --font-sans: "Raleway", sans-serif;
    --font-display: "Raleway", sans-serif;
    --font-accent: "Raleway", sans-serif;
}